# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
Xtest
.venv/
.pytest_cache/
__pycache__/

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
